# dev/test envs
DB_USERNAME=
DB_PASSWORD=
DB_HOSTNAME=
DB_NAME=
DB_PORT=
SECRET_KEY_BASE=

# prod envs
SECRET_KEY_BASE=
DATABASE_URL=ecto://{{DB_USERNAME}}:{{DB_PASSWORD}}@{{DB_HOSTNAME}}:{{DB_PORT}}/{{DB_NAME}}

PHX_HOST=localhost
PHX_SERVER=true
POOL_SIZE=10
ECTO_IPV6=false